:root {
    /* Creatoper */
    --text-color-light-mode: #ffffff;
    --section-1-background-color: #1d1d1d;
    --section-2-background-color: #181818;
    --scroll-bar-track-color: #292929;
    --scroll-bar-thumb-color: #888888;
    --scroll-bar-thumb-hover-color: #ffffff;
    --fullbav1-content-padding-top: 6%;
    --fullbav1-tranparency: 0.95;

    --scrolltotop-color: #888888;
    --scrolltotop-hover-color: #ffffff;
    
    --scroll-to-top-color: #8a8a8a;
    --scroll-to-top-hover-color: hsl(0, 0%, 100%);

    --button-background-color: #ffffff;
    --button-text-color: #000000;
    --button-background-hover-color: #111111;
    --button-text-hover-color: #ffffff;


    --scroll-bar-width: 6px;
    --scroll-bar-track-color: #1b1b1b;
    --scroll-bar-thumb-color: #b1b1b1;
    --scroll-bar-thumb-hover-color: #ffffff;
}